# Mobile Phones 
The original dataset has been downloaded from : https://www.kaggle.com/datasets/artempozdniakov/ukrainian-market-mobile-phones-data

In [1]:
import pandas as pd

In [2]:
path_data = "../data/"

In [3]:
df = pd.read_csv(path_data + "phones_data.csv")
df.head()

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.0,1819.0,36,5.00,8.0,2000.0,10-2020
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999.0,NaN,NaN,10,5.71,16.0,3000.0,4-2020

In [4]:
df["release_year"] = pd.to_datetime(df["release_date"]).dt.year

In [5]:
df = df.drop(columns=["Unnamed: 0", "lowest_price", "highest_price", "release_date"])

In [6]:
df.shape

(1224, 10)

## Duplicated model names

In [7]:
# some models appear multiple times
df.model_name.value_counts()[:5]

1 5033D 1/16GB Volcano Black (5033D-2LALUAF)      3
S40 Lite 2/16GB Black                             3
Galaxy M10 SM-M105F 2/16GB Black (SM-M105GDAG)    3
F243 Swift Dual Sim Blue                          3
7 16GB (Gold)                                     3
Name: model_name, dtype: int64

In [8]:
# Seems related to popularity, but unclear why
df[df["model_name"] == "S40 Lite 2/16GB Black"]
df[df["model_name"] == "1 5033D 1/16GB Volcano Black (5033D-2LALUAF)"]

,brand_name,model_name,os,popularity,best_price,sellers_amount,screen_size,memory_size,battery_size,release_year
1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,36,5.0,16.0,2000.0,2020
2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,36,5.0,16.0,2000.0,2020
3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,36,5.0,16.0,2000.0,2020

In [9]:
# for the purpose of this exercise, we will keep the first entry
df = df.groupby("model_name").first()

## Missing values
Misisng categorical features are labeled as 'missing'.

Misisng numerical features are labeled as -1.

In [10]:
df.isna().sum()

brand_name          0
os                163
popularity          0
best_price          0
sellers_amount      0
screen_size         2
memory_size        94
battery_size       10
release_year        0
dtype: int64

In [11]:
df["os"].fillna("missing", inplace=True)

In [12]:
# Note, missing os also have low memory size
df[df["os"] == "missing"].head()

,brand_name,os,popularity,best_price,sellers_amount,screen_size,memory_size,battery_size,release_year
model_name,,,,,,,,,
105 DS 2019 Pink (16KIGP01A01),Nokia,missing,18,583.0,28,1.77,0.004,800.0,2019
105 Dual Sim 2019 Black (16KIGB01A01),Nokia,missing,262,601.0,31,1.77,NaN,800.0,2019
105 Dual Sim New Black (A00028315),Nokia,missing,507,552.0,2,1.80,0.004,800.0,2017
105 Single Sim 2019 Black (16KIGB01A13),Nokia,missing,805,536.0,31,1.77,NaN,800.0,2019
105 Single Sim 2019 Pink (16KIGP01A13),Nokia,missing,692,547.0,35,1.77,NaN,800.0,2019

In [13]:
df = df.fillna(-1)

In [14]:
df[df["memory_size"] == -1].head()

,brand_name,os,popularity,best_price,sellers_amount,screen_size,memory_size,battery_size,release_year
model_name,,,,,,,,,
105 Dual Sim 2019 Black (16KIGB01A01),Nokia,missing,262,601.0,31,1.77,-1.0,800.0,2019
105 Single Sim 2019 Black (16KIGB01A13),Nokia,missing,805,536.0,31,1.77,-1.0,800.0,2019
105 Single Sim 2019 Pink (16KIGP01A13),Nokia,missing,692,547.0,35,1.77,-1.0,800.0,2019
106 New DS Grey (16NEBD01A02),Nokia,missing,838,596.0,35,1.80,-1.0,800.0,2019
110 Dual Sim 2019 Black (16NKLB01A07),Nokia,missing,471,710.0,34,1.77,-1.0,800.0,2019

## Reduce cardinality 
For os and brand name

In [15]:
df["os"].value_counts()

Android         801
missing         163
iOS              98
OxygenOS          2
WindowsPhone      2
EMUI              1
KAIOS             1
Name: os, dtype: int64

In [16]:
df.loc[~df["os"].isin(["Android", "iOS", "missing"]), "os"] = "other"
df["os"].value_counts()

Android    801
missing    163
iOS         98
other        6
Name: os, dtype: int64

In [18]:
top5 = df["brand_name"].value_counts().index[:5]

In [19]:
df.loc[~df["brand_name"].isin(top5), "brand_name"] = "other"

In [20]:
df["brand_name"].value_counts()

other           618
Samsung         149
Xiaomi          105
Apple            97
Motorola         53
Sigma mobile     46
Name: brand_name, dtype: int64

## Add target for classification

In [21]:
df["price_range"] = pd.qcut(
    df["best_price"], 4, labels=["low", "medium-low", "medium-high", "high"]
).astype(str)

In [22]:
# Best price could stay if we want to do a regression too. Not for this workshop
df.drop(columns="best_price", inplace=True)

## Export dataset

In [23]:
df.to_csv(path_data + "phones_data_prepared.csv")